<!DOCTYPE HTML>

<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Calculating Fibonacci Numbers</title>	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="gettemplates.co" />  	
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

	<!-- Animate.css -->
	<!-- <link rel="stylesheet" href="stylesheets/Homepage/animate.css"> -->
	<link rel="stylesheet" href="css/Homepage/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/Homepage/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/Homepage/bootstrap.css">
	<link rel="stylesheet" href="css/Homepage/bootstrap.min.css" />

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/Homepage/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="css/Homepage/owl.carousel.min.css">
	<link rel="stylesheet" href="css/Homepage/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/Homepage/style.css">    <!-- CHANGE THIS  -->

	<!-- Modernizr JS -->
	<script src="js/Homepage/modernizr-2.6.2.min.js"></script>
	
	<style type="text/css">
		.err_message{
		  color: red;
		}
	</style>

	</head>
	<body>

	<div class="gtco-loader"></div>

	<div id="page">	
	<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(imgs/pic_2.png);">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h2>Welcome to NodeJs application to calculate Fibonacci numbers</h2>
							
							<p>
								<a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalregister">Register</a>
								<a href="#" class="btn btn-white btn-outline btn-lg" data-toggle="modal" data-target="#myModallogin">Log in</a></p>					
								
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>


	<!-- ///////////////////////////////////   Modals ///////////////// -->
		<div id="myModalregister" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">      
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Register</h4>
		      </div>
		      <p class="err_message text-center"></p>    
		    <form id="registerForm"  action = "/register" class="form" action="" method="POST">
		      <div class="modal-body">		        
		        <label>First Name:</label>
		        <input type="text" class="form-control" id="first_name" name="first_name" required data-validation-required-message="Please enter your first name."><br>
		        <label>Last Name:</label>
		        <input type="text" class="form-control" id="last_name" name="last_name" required data-validation-required-message="Please enter your last name."><br>
		         <label>Username:</label>
		        <input type="text" class="form-control" id="register_username" name="register_username" required data-validation-required-message="Please enter a username."><br>
		        <label>Password:</label>
		        <input type="password" class="form-control" id="register_password" name="register_password" required data-validation-required-message="Please enter a password."><br>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default btn-block home-btn text-center" id="btn_commit_register">Submit</button>
		        <button type="button" class="btn btn-default btn-block home-btn text-center" data-dismiss="modal">Close</button>
		      </div>
		    </div>
			</form>
		  </div>
		</div>


		<div id="myModallogin" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">      
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Log In</h4>
		      </div>
		      <p class="err_message text-center"></p>    
		    <form id="loginForm"  action = "/login" class="form" action="" method="POST">
		      <div class="modal-body">  
		        <label>Username:</label>
		        <input type="text" class="form-control" id="login_username" name="login_username" required data-validation-required-message="Please enter a username."><br>
		        <label>Password:</label>
		        <input type="password" class="form-control" id="login_password" name="login_password" required data-validation-required-message="Please enter a password."><br>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default btn-block home-btn text-center" id="btn_commit_logIn">Submit</button>
		        <button type="button" class="btn btn-default btn-block home-btn text-center" data-dismiss="modal">Close</button>
		      </div>
		    </div>
			</form>
		  </div>
		</div>
		<!-- //////////////////////////////////////////////////////////////// -->


	<!-- jQuery -->
	<script src="js/Homepage/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/Homepage/jquery.easing.1.3.js"></script>
	
	<script src="js/Homepage/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/Homepage/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="js/Homepage/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="js/Homepage/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="js/Homepage/jquery.magnific-popup.min.js"></script>
	<script src="js/Homepage/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="js/Homepage/main.js"></script>
	<script src ="js/Homepage/handlebars-v4.0.5.js"></script>	
	<script src="js/server_url.js"></script>

	<script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>


	<script type="text/javascript">
    $(document).ready(function(){


	$("#btn_commit_logIn").click(function(){        
         let usernameIn = $("#login_username").val();
        let passwordIn = $("#login_password").val();
        let ajaxObject = {
            username_ : usernameIn,
            password_ : passwordIn
        }
        let empty = (usernameIn == "") || (passwordIn == "");
        if(empty){
            $(".err_message").text("Please fill in all the fields");
        }
        else{
            $.ajax({
                async: true,
                url: server_url + "/logIn",
                contentType: "application/json",
                type: "POST",
                data: JSON.stringify(ajaxObject),
                error : function(jqXHR, status, error){
                    if(jqXHR.responseJSON){
                        if(jqXHR.responseJSON.message){
                            $(".err_message").text(jqXHR.responseJSON.message);
                        }
                    }
                    else {$("#myModallogin").modal("hide");}
                },                
                success : function(response, status, XMLHttpRequest){
                    $("#myModallogin").modal("hide");
                    window.location.href = "/calculations";
                }   
            });
        }
    });


$("#btn_commit_register").click(function(){       
        let first_nameIn = $("#first_name").val();
        let last_nameIn = $("#last_name").val();        
        let usernameIn = $("#register_username").val();
        let passwordIn = $("#register_password").val()

        let ajaxObject = {
            first_name_ : first_nameIn,
            last_name_ : last_nameIn,            
            username_ : usernameIn,
            password_ : passwordIn
        }
        let empty = (usernameIn == "") || (passwordIn == "");
        if(empty){
            $(".err_message").text("Please fill in all the fields");
        }
        else{
            $.ajax({
                async: true,
                url: server_url + "/register",
                contentType: "application/json",
                type: "POST",
                data: JSON.stringify(ajaxObject),
                error : function(jqXHR, status, error){
                    if(jqXHR.responseJSON){
                        if(jqXHR.responseJSON.message){
                            $(".err_message").text(jqXHR.responseJSON.message);
                        }
                    }
                    else {$("#myModalregister").modal("hide");}
                },                
                success : function(response, status, XMLHttpRequest){
                    $("#myModalregister").modal("hide");
                    window.location.href = "/calculations";
                }   
            });
        }
    });

//////////
});

</script>

</body>



</html>
